@* jobList Template File *@
@(param: Any)
				
				<script type="text/javascript" src="@routes.Assets.versioned("js/job-list.js")"></script>
  							<div class="portlet">
                            <div class="portlet-title">
                            </div>
                            <div class="portlet-body">
                                <div class="widget">
                                    <!--widget-head start-->
                                    <div class="widget-header transparent">
                                        <h2>
                                            <i class="fa fa-bars"></i>
                                            <span class="text-uppercase"> Job List</span>
                                        </h2>
							        	</div>
                                    <!--widget-head end-->
                                    <!--widget-contents start-->
                                    <div class="widget-content padding ">
							        </div>
                                    <!--widget-head end-->
                                    <!-- form start -->
                                    <div class="job-list-body">
    										<table data-sortable class="table table-hover">
        										<thead>
            										<tr>
                									<th>User ID</th>
                									<th>Job Name</th>
                 									<th>File Name</th>
                									<th>Child/Parent</th>
                									<th>Status</th>
                									<th>Date</th>
                									<th>View Result</th>
            										</tr>
        										</thead>
        										<tbody class="job-list-table">

        										</tbody>
    										</table>	
										</div>   
                                    <!-- form end -->
						         </div>
                            </div>
                        		</div>